<!DOCTYPE html>
<html>
<head>
    <%- include externalInput %>
</head>
<!-- Note we must use ` marks instead of " marks due to the JSON stringify object getting confused. -->
<body onload='loadPage(`<%= contentForBody %>`, `<%= inputObject %>`)'>
    <%- include(navigationBar, {active: contentForBody}) %>
    <%- include(contentForBody) %>
</body>
</html> 